body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EFF0F4;
    background-attachment:fixed;

    font-family: "HelveticaNeue", "Helvetica", "Frutiger", "Avenir",  "Arial", sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #303030;
}

/*-----------------------logo menu-----------------*/
nav img {
    width:30px;
    height:30px;
    margin-left: 20px;
    margin-right: 35px;
}

/*-------------------------header-------------------*/
header ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    background-color: #415F9D
}
header p{
    font-size:15px;
    padding: 0;
    margin:  15% 0 0 0;
}

header img{
    width:30px;
    height:30px;
    margin-left: 10%;
    margin-right: 10%;
}

header li {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    float:left;
}


/*----------------------footer-----------------------*/

footer{
    list-style-type: none;
    color: whitesmoke;
    overflow: hidden;
    margin:0;
    background-color: #415F9D;
}

footer h1{
    text-align: center;
}

footer p{
    margin-left: 20px;
}
footer img{
    width:30px;
    height:30px;
}

footer li {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    float:left;
}

/*----------------------contactez-nous-----------------------*/
#boutonContact{
    text-align: center;
}

/*------------------------menu-------------------------------*/

/*-----defaut-------*/

body, html { font-size: 100%; 	padding: 0; margin: 0;}

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #000;
}

/*---------composantMenu---------*/
/* General styles for all menus */

.cbp-spmenu {
    background: #415F9D;
    position: fixed;
}

.cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.cbp-spmenu a:hover {
    background: #7E97C9;
}

.cbp-spmenu a:active {
    background: #DAE1EF;
    color: darkslategrey;
}

/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
    width: 240px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
    left: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}

/* Transitions */
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
