body, html {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EFF0F4;
    background-attachment:fixed;
    font-family: "HelveticaNeue", "Helvetica", "Frutiger", "Avenir",  "Arial", sans-serif;
    font-size:100%;
    height:100%;
    margin:0;
    padding:0;
    width:100%;
    color: #303030;
}

/*-----------------------logo menu-----------------*/
nav img {
    width:35px;
    height:35px;
    margin-left: 20px;
    margin-right: 35px;
}

/*-------------------------header-------------------*/

header ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    background-color: #415F9D
}
header p{
    font-size:20px;
    padding: 0;
    margin:  15% 0 0 0;
}

header img{
    width:35px;
    height:35px;
    margin-left: 10%;
    margin-right: 10%;
}

header li {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    float:left;
}

button[id="showLeft"]{
    background-color: transparent;
    border: none;
    padding: 0;
    margin:  0;
    margin-right: 30%;
}

a[href="/www/index.html"]{
    padding: 0;
    margin-right: 20px;
}
/*----------------------footer-----------------------*/

footer{
    list-style-type: none;
    color: whitesmoke;
    overflow: hidden;
    margin:0;
    background-color: #233B6E;
}

footer h1{
    text-align: center;
    font-size: 27px;
    font-weight: lighter;
}

footer p{
    margin-left: 20px;
}

footer p:hover{
    color: #FF7E67;
}

footer img{
    width:40px;
    height:40px;
}

.lienFooter{
    text-decoration: none;
    color:whitesmoke;
}

.lienFooter:hover{

}

.footerClass{
    text-decoration: none;
    text-align: center;
    margin:auto;
    padding:5%;
}

div a {
    padding:0;
}

.footerClass-logo {
    padding:3%;
}
/*----------------------Browser-----------------------*/
#browser{
    display: inline;
    text-align: center;
}

fieldset{
    border: none;
}

#recherche{
    font-size: 17pt;
    cursor: text;
    width: 210px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

#boutonOK{
    background-color: #415F9D ;
    color: whitesmoke;
    border: none;
    font-size: 17pt;
    cursor: pointer;
    width: 45px;
    height: 40px;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*----------------------recommandation-----------------------*/
.imageIndex{
    width: 100%;
    height: 80%;
    margin-bottom: 5%;
}

.legendImg{
    margin: 0;
    margin-bottom: 10px;
    color: #fafafa;
}


#recommandation{
    text-align: center;
    list-style-type: none;
    color: darkslategrey;
    overflow: hidden;
    margin:0;
    margin-bottom: 5%;
    background-color: #FAFAFA;
    font-size: 15px;
}

.flex-container {
    display: -webkit-flex;
    width: auto;
    height: auto;
    background-color: #FAFAFA;
    align-items: center;
    justify-content: center;
}

.flex-item {
    position:relative;
    background-color: #415F9D;
    width: 100px;
    height: auto;
    margin: 10px;
    text-align:center;
    valign:middle;

}
/*----------------------suggestion-----------------------*/
#suggestion{
    text-align: center;
    list-style-type: none;
    color: darkslategrey;
    overflow: hidden;
    margin:0;
    background-color: #FAFAFA;
    font-size: 100%;
}
/*----------------------contactez-nous-----------------------*/
.contact{
    text-align: center;
}

#boutonContact{
    background-color: #FF7E67 ;
    color: whitesmoke;
    border: none;
    margin: 10%;
    padding: 4% 8%;
    cursor: pointer;

}

#texteContact{
    font-size: 16px;
}

p[id="texteContact"]{
    margin:0;
    padding: 0;
}

/*------------------------menu-------------------------------*/

/*-----defaut-------*/

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a:hover {
    color: #000;
}

/*---------composantMenu---------*/
/* General styles for all menus */

.menu {
    background: #7E97C9;
    position: fixed;
    vertical-align: middle;
    overflow:scroll
}

.menu a{
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
    padding: 1em 2em;
    text-decoration: none;
}

.menu_link{
    vertical-align:middle;
}

.menu a:hover {
    background: #FFFFFF;
    color: darkslategrey;
}

.menu a:active {
    background: #FFFFFF;
    color: darkslategrey;
}

/* Orientation-dependent styles for the content of the menu */

.menu-vertical {
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 1000;
}

.menu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em;
}

/* Vertical menu that slides from the left or right */

.menu-left {
    left: -300px;
}

.menu-left.menu-open {
    left: 0px;
}

/* Transitions */
.menu,
.menu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
