body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#EFF0F4;
    background-attachment:fixed;

    font-family: "HelveticaNeue", "Helvetica", "Frutiger", "Avenir",  "Arial", sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    width:100%;
    color: #303030;
}

/*-----------------------logo menu-----------------*/
nav img {
    width:30px;
    height:30px;
    margin-left: 20px;
    margin-right: 35px;
}

/*-------------------------header-------------------*/
header ul {
    list-style-type: none;
    overflow: hidden;
    margin:0;
    background-color: #415F9D
}
header p{
    font-size:15px;
    padding: 0;
    margin:  15% 0 0 0;
}

header img{
    width:30px;
    height:30px;
    margin-left: 20px;
    margin-right: 35px;
}

header li {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    float:left;
}


/*----------------------footer-----------------------*/

footer{
    list-style-type: none;
    color: whitesmoke;
    overflow: hidden;
    margin:0;
    background-color: #415F9D
}

footer h1{
    text-align: center;
}

footer p{
    margin-left: 20px;
}
footer img{
    width:30px;
    height:30px;
}

footer li {
    display: block;
    color: white;
    padding: 10px 0px;
    text-decoration: none;
    float:left;
}

/*----------------------contactez-nous-----------------------*/
#boutonContact{
    text-align: center;
}

/*------------------------menu-------------------------------*/


body, html { font-size: 100%; 	padding: 0; margin: 0;}

/* Reset */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix hack by Nicolas Gallagher: http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


a:hover {
    color: #000;
}

.main{
    position: relative;
    margin-right: 50%;
    margin-left: 50%;
}
